.body {
    font-family: "Comic Sans MS";
}

/*Верхние блоки "Статистика" "Прогресс Бары" "Рынок"*/
.block-example-top {
    padding: 15px;
    background-color: #3294ff;
    border: 2px #9b13a4 solid;
}

/*Статистика*/
#statistic-top{
    font-size: 20px;
    background-color: #87a493;
    color: #2e2ca4;
    text-align: center;
}

/*Прогресс Бары*/
#progress-bar-top{
    font-size: 20px;
    background-color: #9b9ca4;
    color: #050109;
    text-align: center;
}

/*Рынок*/
#market-top{
    font-size: 20px;
    background-color: #89a47c;
    color: #5b2125;
    text-align: center;
}
/*Средние блоки "Статистика" "Прогресс Бары" "Рынок"*/
.block-example-mid {
    padding: 15px;
    background-color: #e1eeff;
    border: 2px #982ea4 solid;
}

/*Статистика*/
#allMoney {
position: absolute;
    top: 19px;
    left: 160px;
}
#allWorkers {
    position: absolute;
    top: 36px;
    left: 160px;
}
#allWood {
    position: absolute;
    top: 54px;
    left: 160px;
}
#allStone {
    position: absolute;
    top: 72px;
    left: 160px;
}
#calc{
    border: 2px #a47c33 solid; /*обводка кнопки*/
    position: center;
    margin: 10px;
    width: 100px;
    height: 25px;
    background-color: rgba(6, 164, 82, 0.75);
    border-radius: 10px;
    color: #292fff;
    cursor: pointer;
    outline: 0 !important; /*Рамка вокруг выделенной кнопки*/
}
#calc:hover{
    background-color: rgba(6, 164, 82, 0.51);/*При наведении на кнопку меняет цвет*/
}
#calc:active{
    background-color: rgb(6, 164, 82);/*При нажатии на кнопку темнеет кнопка*/
    border: 2px #a46105 solid;/*При нажатии на кнопку темнеет обводка*/
}
/*Прогресс Бары*/
.woodWrapper{
    position: relative;
    width: 400px;
    margin: 0 auto;
}
.stoneWrapper{
    position: relative;
    width: 400px;
    margin: 0 auto;
}
.woodBar{
    width: 100%;
    height: 20px;
    background: #eee;
    border-radius: 25px;
    margin: 0;
    border: 2px #2da465 solid;
}
.stoneBar{
    width: 100%;
    height: 20px;
    background: #eee;
    border-radius: 25px;
    margin: 0;
    border: 2px #2f80a4 solid;
}
.woodProgressBar{
     position: absolute;
     top: 0;
     height: 20px;
     text-align: center;
    background: rgba(255, 142, 19, 0.6);
     border-radius: 25px;
    margin: 0;
 }
.stoneProgressBar{
    position: absolute;
    top: 0;
    height: 20px;
    text-align: center;
    background: rgba(5, 1, 9, 0.47);
    border-radius: 25px;
    margin: 0;
}
#woodStartButton{
    border: 2px #2f80a4 solid; /*обводка кнопки*/
    position: center;
    margin: 10px;
    width: 75px;
    height: 25px;
    background-color: #a48842;
    border-radius: 10px;
    color: #292fff;
    cursor: pointer;
    outline: 0 !important; /*Рамка вокруг выделенной кнопки*/
}
#woodStartButton:hover{
    background-color: rgba(164, 136, 66, 0.73); /*При наведении на кнопку меняет цвет*/
}
#woodStartButton:active{
    background-color: rgb(164, 110, 38); /*При нажатии на кнопку темнеет кнопка*/
    border: 2px #075ca4 solid;  /*При нажатии на кнопку темнеет обводка*/
}
#stoneStartButton{
    border: 2px #2f80a4 solid;/*обводка кнопки*/
    position: center;
    margin: 10px;
    width: 75px;
    height: 25px;
    background-color: rgba(5, 1, 9, 0.36);
    border-radius: 10px;
    color: #292fff;
    cursor: pointer;
    outline: 0 !important; /*Рамка вокруг выделенной кнопки*/
}
#stoneStartButton:hover{
    background-color: rgba(5, 1, 9, 0.19); /*При наведении на кнопку меняет цвет*/
}
#stoneStartButton:active{
    background-color: rgba(5, 1, 9, 0.61); /*При нажатии на кнопку темнеет кнопка*/
    border: 2px #0009a4 solid; /*При нажатии на кнопку темнеет обводка*/
}

/*Рынок*/
#prices{
    border: 1px #a4330b solid;
    margin: 4px;
    padding: 4px;
}
#trade-button{
    border: 2px #2f80a4 solid;/*обводка кнопки*/
    position: center;
    margin: 10px;
    width: 75px;
    height: 25px;
    background-color: rgba(155, 19, 164, 0.36);
    border-radius: 10px;
    color: #292fff;
    cursor: pointer;
    outline: 0 !important; /*Рамка вокруг выделенной кнопки*/
}
#trade-button:hover{
    background-color: rgba(155, 19, 164, 0.24);/*При наведении на кнопку меняет цвет*/
}
#trade-button:active{
    background-color: rgba(155, 19, 164, 0.56);/*При нажатии на кнопку темнеет кнопка*/
    border: 2px #1568a4 solid;/*При нажатии на кнопку темнеет обводка*/
}
#sale-wood{
    margin: 4px;
    padding: 3px;
    width: 80px;
}
#sale-stone{
    margin: 4px;
    padding: 3px;
    width: 80px;
}