.woodWrapper{
    position: relative;
    width: 500px;
    margin: 0 auto;
}
.stoneWrapper{
    position: relative;
    width: 500px;
    margin: 0 auto;
}
.woodBar{
    width: 100%;
    height: 20px;
    background: #eee;
    border-radius: 25px;
    margin-top: 20px;
}
.stoneBar{
    width: 100%;
    height: 20px;
    background: #eee;
    border-radius: 25px;
    margin-top: 20px;
}
.woodProgressBar{
     position: absolute;
     top: 0;
     height: 20px;
     text-align: center;
     background: rgb(164, 134, 71);
     border-radius: 25px;
 }
.stoneProgressBar{
    position: absolute;
    top: 0;
    height: 20px;
    text-align: center;
    background: rgba(5, 1, 9, 0.53);
    border-radius: 25px;
}
#woodStartButton{
    border: 2px #2f80a4 solid; /*обводка кнопки*/
    position: center;
    width: 75px;
    height: 25px;
    background-color: #a48842;
    border-radius: 10px;
    margin-left: 510px;
    margin-top: 10px;
    color: #292fff;
    font-family: "Comic Sans MS";
    cursor: pointer;
    outline: 0 !important; /*Рамка вокруг выделенной кнопки*/
}
#stoneStartButton{
    border: 2px #2f80a4 solid;/*обводка кнопки*/
    position: center;
    width: 75px;
    height: 25px;
    background-color: rgba(5, 1, 9, 0.36);
    border-radius: 10px;
    margin-left: 510px;
    margin-top: 10px;
    color: #292fff;
    font-family: "Comic Sans MS";
    cursor: pointer;
    outline: 0 !important; /*Рамка вокруг выделенной кнопки*/
}
