.main {
    margin:0 auto; /* Центрируем блоки */
    width:100%; /* Задаем ширину 100%, чтобы сделать ее резиновой */
    max-width:700px; /* Устанавливаем максимальную ширину */
}
.inline div{
    display:inline-block; /* Делаем блоки по горизонтали */
    display: -moz-inline-stack; /* Для FireFox 2, тот же самый, что и inline-block */
    vertical-align:top; /* Выравниваем их сверху */
    font-size:16px; /* Ставим дочкам размер шрифта, иначе примет значение родителя */
    zoom: 1;
    *display: inline;
}
div.inline{font-size:0;} /* Ставим родителю значение 0, чтобы убрать отступы у блоков*/

.statistic{
    background-color: #00a496;
    width:20%; /*Задаем ширину в процентах чтобы сделать ее резиновой*/
    height:300px; /* Высота блока */
}
.processBox{
    background-color: #ffebd9;
    width:80%;
    height:300px;
}
.woodWrapper{
    position: relative;
    width: 500px;
    margin: 0 auto;
}
.stoneWrapper{
    position: relative;
    width: 500px;
    margin: 0 auto;
}
.woodBar{
    width: 100%;
    height: 20px;
    background: #eee;
    border-radius: 25px;
    margin: 10px;
}
.stoneBar{
    width: 100%;
    height: 20px;
    background: #eee;
    border-radius: 25px;
    margin: 10px;
}
.woodProgressBar{
     position: absolute;
     top: 0;
     height: 20px;
     text-align: center;
     background: rgb(164, 134, 71);
     border-radius: 25px;
    margin: 10px;
 }
.stoneProgressBar{
    position: absolute;
    top: 0;
    height: 20px;
    text-align: center;
    background: rgba(5, 1, 9, 0.53);
    border-radius: 25px;
    margin: 10px;
}
#woodStartButton{
    border: 2px #2f80a4 solid; /*обводка кнопки*/
    position: center;
    margin-left: 10px;
    width: 75px;
    height: 25px;
    background-color: #a48842;
    border-radius: 10px;
    color: #292fff;
    font-family: "Comic Sans MS";
    cursor: pointer;
    outline: 0 !important; /*Рамка вокруг выделенной кнопки*/
}
#stoneStartButton{
    border: 2px #2f80a4 solid;/*обводка кнопки*/
    position: center;
    margin-left: 10px;
    width: 75px;
    height: 25px;
    background-color: rgba(5, 1, 9, 0.36);
    border-radius: 10px;
    color: #292fff;
    font-family: "Comic Sans MS";
    cursor: pointer;
    outline: 0 !important; /*Рамка вокруг выделенной кнопки*/
}
